@charset "UTF-8";


.head .albaRepute {
    height: 180px;
    background-image: url(//image.alba.kr/story/top_repute.png);
}

.reputeDetailCompany-name {
	position: relative;
	float: left;
	width: 768px;
	height: 71px;
	padding-left: 172px;
	background-color: #464a56
}

.reputeDetailCompany-name>.logoUrl {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 150px;
    height: 51px;
    padding: 5px 0;
    text-align: center;
    background-color: #fff;
}

.reputeDetailCompany-state {
    float: right;
    width: 126px;
    height: 71px;
    font-size: 16px;
    line-height: 71px;
    text-align: center;
    color: #fff;
    background-color: #185cc2;
}

.reputeDetailCompany-name.textarea {
	font-weight: bold;
	font-size: 20px;
	line-height: 71px;
	color: #fff;
	font-family: 'Malgun Gothic';
	letter-spacing: -1px;
}


.reputeDetailList-list-head {
	overflow: hidden;
	width: 1010px;
	margin: 0 0 20px;
	padding: 15px 30px;
	background-color: #f8f8f8;
}

.reputeDetailList-list>li {
	position: relative;
	padding: 0 0 20px;
	border-bottom: 1px solid #ddd;
}

.reputeDetailList-list-dl>dd>em.positive {
	background-color: #e9f4fc;
	color: #185cc2;
}

.reputeDetailList-list-dl>dd>em.negative {
	background-color: #f2f2f2; 
	color: #888;
}


.reputeDetailList-list-dl>dd>em {
	display: inline-block;
	height: 30px;
	margin: 0 5px 5px 0;
	padding: 0 10px;
	font-size: 16px;
	line-height: 30px;
}
.reputeDetailList-list-ul {
	float: right;
	display: inline;
	width: 180px;
	margin-right: 28px;
}
.reputeDetailList-list-ul>.likecnt {
	width: 95px;
	height: 76px;
	margin: 0 0 20px 85px;
	padding: 10px 0 0;
	text-align: center;
	bacground: url(//image.alba.kr/story/repute1.png) no-repeat 0 -30px;
}

.reputeDetailList-list-ul>.likecnt>em {
	display: block;
	font-weight: bold;
	font-size: 40px;
	font-family: 'Malgun Gothic';
	letter-spacing: -1px;
	text-align: center;
	color: #185cc2;
}
.reputeDetailList-list-ul>.likecnt>span {
	display: inline-block;
	height: 27px;
	padding: 0 15px;
	font-size: 14px;
	line-height: 27px;
	font-familly: 'Malgun Gothic';
	color: #fff;
	background-color: #185cc2;
	border-radius: 13px;
}

.reputeDetailCompany-name>.workcomnm {
	position: absolute;
    font-weight: bold;
    font-size: 20px;
    line-height: 71px;
    color: #fff;
}

.reputeDetailList-list-head>.workCareer {
    float: left;
    width: 800px;
    margin: 0 0 5px;
    font-size: 18px;
    color: #333;
}


.reputeDetailCompany-name>.gbnRepute {
    position: absolute;
    top: 23px;
    right: 35px;
    font-size: 16px;
    color: #cdcdcd;
}

.reputeDetailCompany-name>.gbnRepute .icon {
    display: inline-block;
    width: 16px;
    height: 17px;
    margin-top: 4px;
    vertical-align: top;
    background: url(//image.alba.kr/story/repute1.png) no-repeat;
}

.reputeDetailCompany-name>.gbnRepute .cntRepute .icon {
    background-position: -40px -118px;
}

.reputeDetailCompany-name>.logoUrl>img {
    width: 128px;
    height: 51px;
}

.reputeDetailCompany-name>.gbnRepute .scoreRepute .icon {
    background-position: -80px -118px;
}

.reputeDetailCompany-name>.logoUrl>img {
    width: 128px;
    height: 51px;
}

.reputeDetailList-list-dl {
    float: left;
    width: 850px;
    font-family: 'Malgun Gothic';
}

.reputeDetailList-list-head>.regDt {
    float: right;
    width: 200px;
    font-size: 14px;
    letter-spacing: 0;
    text-align: right;
    color: #999;
}

.reputeListBtn {
    padding-top: 20px;
}

.reputeDetailList-list-content {
    overflow: hidden;
    width: 900px; /* 1070 */
}

.reputeDetailList-list-dl>dt {
    clear: both;
    float: left;
    width: 102px;
    padding: 5px 0 0 28px;
    font-size: 16px;
    color: #333;
}

.reputeDetailList-list-ul>.likecnt {
    width: 95px;
    height: 76px;
    margin: 0 0 20px 85px;
    padding: 10px 0 0;
    text-align: center;
    background: url(//image.alba.kr/story/repute1.png) no-repeat 0 -30px;
}

.reputeDetailList-list-ul>.recomcnt {
    height: 28px;
}

ul, ol, dl {
    list-style: none;
}

dt, dd, li {
    margin: 0;
    padding: 0;
}


dd {
    display: block;
    margin-inline-start: 40px;
}



img {
    vertical-align: top;
}

em, address, i {
    font-style: normal;
}